<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css"
          rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="col-md-8 col-md-offset-2">
        <h1>CONTACT</h1>
        <hr>
        <a href="/add/" type="button" class="btn btn-success pull-right">添加新的联系人</a>
        <a href="/find/" type="button"  class="btn btn-success pull-right">查找联系人</a>
        <table class="table table-hovel">
            <thread>
                <tr>
                    <th class="text-center" style="width:10%">序号</th>
                    <th class="text-left" style="width:60%">联系人</th>
                    <th class="text-center" style="width:30%">操作</th>
                </tr>
            </thread>
            <tbody>
            {% for peo in peolist %}
            <tr>
                <td>{{ peo.id }}</td>
                <td>{{ peo.name }}</td>
                <td class="text-center">
                     <a type="button" calss="btn btn-xs btn-success" href="/more/?peoid={{ peo.id }}">详情</a>
                    <a type="button" calss="btn btn-xs btn-success" href="/update/?peoid={{ peo.id }}">编辑</a>
                    <a type="button" calss="btn btn-xs btn-danger" href="/del/?peoid={{ peo.id }}">删除</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    <hr>
    </div>
</div>

</body>
</html>